table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.hidden{
    display: none;
}
input{
    padding: 5px 10px;
    min-width: 300px;
}
button{
    padding: 5px 10px;
}