body {
  margin: 0;
  padding: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.42;
  text-rendering: optimizeLegibility;
}
.avatar{
  font-size: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}
.box-content{
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.content-card{
  background: #fff;
  border: .05rem solid #e7e9ed;
  border-radius: .1rem;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
}
.align-right{
  float: right;
}
.user-avatar{
  border-radius: 50%;
  color: rgba(255,255,255,.85);
  background-color: #0cb76b;
  position: relative;
  text-align: center;
}
.avatar-letter{
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.box{
  position: relative;
}

.box-content .ql-editor p {
  margin: 0;
  padding: 0;
}
p:empty { display: none !important; }
.box-content .ql-clipboard{
  display: none;
}
.box-content .ql-video{
  height: 320px;
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: inherit;
  box-shadow: none;
  outline: none;
  border: none;
}
video{
  height: 100% !important;
  width: 100% !important;
}
video:-webkit-full-page-media {
height: 100% !important;
  width: 100% !important;
}
.box{
  margin: 1rem 0rem 1rem 0rem !important;
}
.box-content strong{
  font-weight: bolder;
}
.box-content .ql-align-right{
  float: right;
}
.box-content .ql-size-large{
  font-size: 1.5em;
}
.box-content .ql-align-right a{
  background: #0BB76C;
  font-size: 16px;
  border: .05rem solid #0BB76C;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 2px;
  display: inline-block;
}
@media only screen and (max-width:768px){
  .avatar{
    line-height: 1.25;
  }
}
@media only screen and (min-width:768px){
  .avatar-card{
    text-align: center;
  }
  .user-avatar{
    float: none;
    margin: 0 auto;
  }
  .avatar{
    font-size: 1.2rem;
    height: 2.75rem;
    width: 2.75rem;
  }
  
}